@use "./abstracts/mixins";

@use "./layouts/globalLayout";

@use "./components/input.scss";
@use "./components/button.scss";

@use "./pages/Home.scss";



* {
    margin: 0;
    padding: 0;
}

#root{
    width: 100%;
    height: 100vh;
}