@use "./abstracts/mixins";

@use "./layouts/globalLayout";

@use "./components/input.scss";
@use "./components/button.scss";
@use "./components/card.scss";
@use "./components/scheduleList";

@use "./pages/Home.scss";
@use "./pages/Futsal.scss";
@use "./pages/Booking.scss";

@use "./base/typography.scss";

@use "./vendors/tailwind";

@tailwind base;
@tailwind components;
@tailwind utilities;




* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#root{
    width: 100%;
    height: 100vh;
}