@use "../abstracts/variables" as *;

@mixin boxBorder ($margin, $padding) {
    margin: $margin;
    padding: $padding;
    box-sizing: border-box;
}

@mixin dimension ($width, $height){
    width: $width;
    height: $height;
}

@mixin border ($width, $color, $radius, $type:solid){
    border-width: $width;
    border-style: $type;
    border-color: $color;
    border-radius: $radius;
}

@mixin font($size,$weight, $color:$dark){
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
