$sea-green : rgb(46, 139, 87);
$spring-green: rgb(0, 255, 127);

$steel-blue: rgb(70, 130, 180);
$dark-turquiose: rgb(0, 206, 209);
$slate-blue: rgb(123, 104, 238);

$white: rgb(255, 255, 255);
$white-smoke: rgb(245, 245, 245);

$light-gray: rgb(211, 211, 211);
$extra-light-grey:#f2f2f2;
$dark: rgb(51, 51, 51);

