@use "../abstracts/mixins" as *;
@use "../base/typography" as *;
@use "../abstracts/variables" as *;

.futsal_content_wrapper {
  @include dimension(100%, auto);
  @include flexBox(row, space-between, start);
  margin-top: 5rem;
}

.futsal_info_wrapper {
  @include dimension(47%, auto);
}

.current_futsal_heading {
  @extend .heading;
  margin-bottom: 0.75rem;
}

.futsal_detail_section {
  margin-top: 0.75rem;
}

.futsal_detail_box {
  @include flexBox(row, start, center, 0.75rem);

  & > svg,
  & > p:first-of-type {
    font-size: 1.15rem;
  }
}

.futsal_location_map {
  @include font(0.85rem, 500, $steel-blue);
  cursor: pointer;
  margin-left: 1.5rem;

  &:hover {
    text-decoration: underline;
  }
}

.schedule_wrapper {
  @include dimension(45%, auto);
  @include flexBox(column, start, start, .75rem);
}

.schedule_availablitiy_indicators {
  @include dimension(100%, auto);
  @include flexBox(row, flex-end, center, 2.5rem);
}

.available_indicator,
.unavailable_indicator {
  @include flexBox(row, start, center, 0.85rem);
}

.available_indicator > div,
.unavailable_indicator > div {
  @include dimension(1.5rem, 1.5rem);
  @include border(0.1rem, transparent, 50%);
}

.available_indicator > div {
  background-color: $sea-green;
}

.unavailable_indicator > div {
  background-color: $notice-red;
}

.schedule_list_container{
  @include dimension(100%, auto);
  @include boxBorder(0, 1.5rem);
  @include border(.1rem, $dark, .85rem);
}
