// @use "../abstracts/mixins" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

@use "../base/typography" as *;

.futsal-content-wrapper {
  @include flexBox(start, startp, 5rem);
  @include dimension(100%, auto);
  @include boxBorder(5rem 0 0 0, 0);

  .info-section {
    @include dimension(100%, auto);
  }
}

.futsal-info-header {
  @include dimension(100%, fit-content);
  @include flexBox(space-between, center);
}

.current-futsal-name {
  @extend .heading;
}

.futsal-details {
  height: 70vh;
  margin-top: 2.5rem;

  & > img {
    max-height: 70%;
    object-fit: cover;
  }

  .futsal-name {
    @extend .sub-heading;
  }

  .futsal-location,
  .futsal-price {
    @extend .info-text;
  }

  .location-box,
  .price-box {
    @include flexBox(start, center, 0.85rem);
  }
}

.schedule-container {
  max-width: 50%;
}

.schedule-section {
  @include border(0.1rem, grey, 0.85rem);
  @include boxBorder(0, 2.5rem);
  @include flexBox(start, start, 0.5rem, wrap);
  max-height: 35vh;
}

.schedule-list {
  @include boxBorder(0, 0.75rem);
  @include dimension(fit-content, fit-content);
  @include flexBox(center, center);
  @include border(0.15rem, $light-gray, 0.5rem);
  cursor: pointer;
}

.schedule-legend {
  @include dimension(100%, fit-content);
  @include flexBox(flex-end, center);

  &>div{
    @include flexBox(start, center)
  }
}

.legend-section{
  @include flexBox(flex-end, center,1.5rem);
  @include boxBorder(0 0 .75rem 0,0 .35rem 0 0);

  &>div{
    @include flexBox(start,center, .35rem)
  }

  &>div>span{
    display: block;
    @include dimension(.85rem, .85rem);
  }

  &>div>span:first-of-type{
    background-color: $sea-green;
  }

  &>div:nth-of-type(2)>span{
    background-color: red;
  }
}
